@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
#page_name {
  font-family: "Spicy Rice";
  color: whitesmoke;
  font-style: oblique;
  text-shadow: 0 0 50px #5e5d5d, 0 0 15px #738006;
}

.navbar-brand {
  font-size: 3.25rem;
}

.navbar-nav {
  font-family: "Spicy Rice";
}


.navbar-item > a {
  color: white;
  font-size: larger;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
}

.bg-dark {
  background-color: rgba(39, 38, 38, 0.425) !important;
}

/* logo */
.fas {
  padding-left: 30px;
}

html {
  height: 100%;
  background-position-y: bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.shared.com/content/images/2017/09/coffee-2538290_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {
  padding-top: 80px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: whitesmoke;
}
#first-container,
#but-container {
  margin-top: 150px;
}

#text1 {
  font-size: 80px;
  padding-left: 60px;
  font-family: "Akaya Kanadaka", cursive;
  justify-content: center;
  text-align: center;
}

#but-container {
  text-align: center;
  position: relative;
  justify-content: center;
}

#second-container {
  margin-top: 10px;
}
#event-section {
  margin-top: 250px;
}

#sc-fr-fi {
  margin-top: 110px;
  padding-right: 50px;
  padding-bottom: 100px;
}

#img-2 {
  border: 2px solid rgb(253, 253, 253);
}

.col-sm-5 {
  align-self: center;
}



#btn-join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
  color: #382424;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 8px solid #382424;
  padding: 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Merienda", cursive;

}

#btn-join:hover:before {
  top: 0;
}

#btn-join:hover:after {
  top: -100%;
}

#btn-join:before {
  content: attr(data-title);
  position: absolute;
  padding: 15px 30px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #382424;
  color: #fff;
  box-sizing: border-box;
  transition: 0.7s;
}

#btn-join:after {
  content: attr(data-title);
  position: absolute;
  padding: 15px 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #232323;
  box-sizing: border-box;
  transition: 0.7s;
}

#testing-text,
#testing-p,
#event-ss-text,
#event-ths-text {
  font-size: 24pt;
  font-family: "Merienda", cursive;
  text-align: center;
}

#event-ths-text {
  padding-left: 50px;
}
#testing-text,
#testing-p {
  padding-left: 30px;
}
#third-section {
  margin-top: 140px;
  padding-bottom: 100px;
}

#four-section {
  padding-left: 15px;
  padding-right: 15px;
}
hr.solid {
  border-top: 3px solid #bbb;
}

footer {
  background-color: rgba(39, 38, 38, 0.425);
  height: fit-content;
  width: initial;
  padding-top: 25px;
}

#p-footer {
  font-style: italic;
  font-size: small;
  text-align: center;
}
