@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");

#page_name {
  font-family: "Spicy Rice";
  color: whitesmoke;
  font-style: oblique;
  text-shadow: 0 0 50px #5e5d5d, 0 0 15px #738006;
}
.bg-dark {
  background-color: rgba(39, 38, 38, 0.425) !important;
}



html {
  height: 100%;
  background-position-y: bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("extra/Coffee-cafe-drink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

body {
  padding-top: 80px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: whitesmoke;
}

.navbar-brand {
  font-size: 3.25rem;
}

.navbar-item > a {
  color: white;
  font-size: larger;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
}

.navbar-nav {
  font-family: "Spicy Rice";
}
#f-container {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 200px;
  text-align: -webkit-center;
}
#list-items {
  max-width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 200px;
}

.col > a > img {
  width: 200px;
  height: 200px;
  border: 4px solid rgba(94, 6, 6, 0.836);
}
.col > h5 {
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-width: 250px;
  max-width: fit-content;
  max-height: 300px;
  object-fit: cover;
  padding: auto;
}
.col {
  padding-top: 20px !important;
  max-width: 500px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  flex-grow:0;
}


.card-body > h5 {
  font-size: 12pt;
  color: black;
}
.card-body > p {
  font-size: 10pt;
  color: black;
}

.card{
  max-width: 300px;
  
}

hr.solid {
  border-top: 3px solid rgb(236, 233, 233);
  margin-left: 40px;
  margin-right: 40px;
}
#sec-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* #about-sc-fr {
  position: relative;
  justify-content: center;
} */


footer {
  background-color: rgba(39, 38, 38, 0.425);
  height: fit-content;
  width: initial;
  padding-top: 25px;
}

.col-sm-3 > p , #about-text > p{
  font-style: italic; font-size: small;
}
.no-gutters {
  position: relative;
  justify-content: center;
  text-align: center;
}
.card {
  border-radius: 20px;
  border: 4px solid rgba(94, 6, 6, 0.836);
}


.headerDivider {
  border-left: 1px solid #f9fafa;
  border-right: 1px solid #a9abac;
  height: 90%;
  position: absolute;
  right: 249px;
  top: 10px;
}
#about-container{
  margin-right: -150px;
}

#about-text {
  padding-left: 0px !important;
  margin-left: 0px;
}
